<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Bem-Vindo</title>
 <style>
    body {
      font-family: Arial, sans-serif;
    }

    .header {
      text-align: center;
      margin-bottom: 20px;
    }

    .btn {
      background-color: #007BFF;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
    }

    .btn:hover {
      background-color: #0056b3;
      color: white;
    }
 </style>
</head>
<body>
 <div class="header">
    <h1>Bem-Vindo ao Nosso Site!</h1>
 </div>

 <div>
    <button class="btn" onclick="window.location.href='/register'">Cadastre-se</button>
    <button class="btn" onclick="window.location.href='/login'">Login</button>
 </div>
</body>
</html>